


<div class="container fullcontainer">
  <div class="row">
    <div class="col-md-12">
      <div>
          <img src="images/GB_3.gif">
      </div>
        <legend>TalkReserve </legend><p>This app will create an efficient process to serve a large scale of customers of the New Life Resource Cafe and the 2000+ members of New Life Christain Fellowship Church. The app holds an archive of recorded sermons preached from 2008 to 2014, total of 1,165.  The Cafe customers will be able to quickly place a audio sermon reservation at the customer service desk. In addition members of New Life Christian Fellowship church will be able to sign up for open volunteer positions within various ministries in the church.</p>
        
      
        <div ng-view >
          <div class="alert">
            Looks like either javascript isn't turned on or the script isn't working for some reason.
          </div>
        </div>
      
    </div>
  </div>
</div>
